/*html5*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { display: block;}
audio,canvas,video{display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) { display: none;}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, 
th, td,
img{border:medium none; margin: 0; padding: 0;}
/*form*/
button,input,select,textarea {margin: 0; font-size: 100%; vertical-align: middle;}
button,input {*overflow: visible;line-height: normal;}
button::-moz-focus-inner,input::-moz-focus-inner {padding: 0;border: 0;}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor: pointer; -webkit-appearance: button;}
input[type="search"] {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
textarea { overflow: auto; vertical-align: top;}
body,button, input, select, textarea { font: 12px/1.5 Arial, Helvetica, sans-serif;}
/** 设置默认字体 **/
h1,h2,h3,h4,h5,h6{margin:0;font-family:inherit;font-weight:bold;color:inherit;text-rendering:optimizelegibility;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;color:#999;}

/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#333; outline: none;}
a:link{color:#000;}
a:visited{color:#000;}
a:hover { text-decoration: underline; color:#F40; }
/** 重置表格元素 **/
table { border-collapse:collapse; border-spacing:0; }
/**禁止拉动**/
textarea{resize:none;}
/*重置表单元素*/
input,button,select,textarea{outline:none;}
/*选中文字背景色*/
::-moz-selection{background: #81BA10; color:#ffffff; text-shadow: none;} 
::selection {background: #81BA10; color:#ffffff; text-shadow: none;}
/*常用样式*/
.clears{zoom:1;}
.clears:after{clear:both; content:"."; display:block; margin:0; padding:0; font-size:0; height:0; line-height:0; overflow:hidden;} 
.al{ text-align:left;}
.ar{ text-align:right}
.ac{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.underline{ text-decoration:underline;}
.vm { vertical-align: middle; height: 100%;}
.width-100 { width: 100%;}
.pointer {cursor: pointer;}
.hide {display: none;}
.upp{ text-transform:uppercase;}
/*body*/
body{-webkit-text-size-adjust:none;/*chrome 字体中文版限制问题*/ color:#fff;}
#wrap{ width:1366px; height:768px; margin:0 auto;}


/*content*/
#content{ width:925px; background-color:#000;}

/*head*/
#header{ background-color:#000; height:171px; padding:0 70px; border-bottom:1px solid #eee;}
#header h1{ font-size:40px; text-transform:uppercase; line-height:40px; padding-top:40px;}
#header h2{ font-size:34px;}

/*main*/
#main{ padding:0 70px 79px; height:517px;}
.btn-style{display:inline-block; background-color:transparent; background-repeat:no-repeat; *display:inline; *zoom:1;}
.home-start{ padding-top:136px; padding-bottom:123px;}
.start-btn{background-image:url(../../_images/start-btn.png); width:249px; height:142px;}
.start-btn:hover{background-image:url(../../_images/start-btn-hover.png);}
.home-bottom li{ float:left; padding-right:15px;}
.home-bottom li#last{ padding-right:0;}
.home-box{ border:1px solid #3c3c3c; width:228px; height:104px; text-transform:uppercase; padding:10px 10px 0;}
.home-box p{ font-size:15px;}
.home-box h3{ font-size:50px; line-height:50px;}
.this-current{ color:#fc0000;}
#page-2{ padding-left:103px;}
.title{ padding-top:30px; height:90px;}
.number-icon{ background-image:url(../../_images/number-icon.png); width:24px; height:27px; vertical-align:middle; margin-right:12px;}
.mobile-icon{ background-image:url(../../_images/Mobile-icon.png); width:15px; height:25px; margin-right:12px;}
.title h3{ font-size:28px; line-height:28px;}
.title h4{ font-size:24px; line-height:34px;}
.title p{ font-size:15px; font-weight:bold;}
.table-box{ width:326px;}
#number-input{ border:1px solid #808080; height:109px; line-height:109px; background-color:#000; color:#fff; width:302px; padding:0 10px; font-size:50px;}
#num-table{}
#num-table li{ background-image:url(../../_images/btn-bg.jpg); background-repeat:repeat-x; height:69px; text-align:center; float:left; width:106px; border:1px solid #808080; font-size:33px; line-height:69px;}
#num-table li:hover{ background-image:url(../../_images/btn-bg-hover.jpg); border:1px solid #c0b2b2;}
#num-table li#back{ width:214px;}
#num-table li#back span{}
.back-icon{ background-image:url(../../_images/back-icon.png); width:25px; height:24px; *margin-bottom:6px;}

.pagemain-rt{ padding-top:120px; padding-left:30px; width:230px;}
.pagemain-rt h5{ font-size:20px; line-height:20px; text-transform:uppercase;}
.checkbox-style{ width:39px; height:39px; border:1px solid #7b7b7b; margin-right:15px; cursor:pointer; background-image:url(../../_images/btn-bg.jpg); background-repeat:repeat-x; background-position:center center;}
.checkbox-style:hover{background-image:url(../../_images/btn-bg-hover.jpg);}
.checkbox-main{ height:285px;}
.checkbox-main p{ font-size:18px; font-weight:bold; padding-bottom:10px;}
.next-btn{ background-image:url(../../_images/next--btn.png); width:220px; height:108px;}
.next-btn:hover{ background-image:url(../../_images/next--btn-hover.png);}
.page-3-text{ height:160px; padding-top:125px;}
.page-3-text p{ font-size:18px; font-weight:bold; padding-bottom:10px;}
.finish-btn{ background-image:url(../../_images/finish-btn.png); width:220px; height:108px;}
.finish-btn:hover{ background-image:url(../../_images/finish-btn-hover.png);}
/*sidebar*/
#sidebar{ width:440px; height:768px; border-left:1px solid #fff; background:url(../../_images/sidebar-bg.jpg) no-repeat;}
#sidebar ul{ padding-top:111px;}
