/*html5*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, 
th, td,
img{border:medium none; margin: 0; padding: 0;}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}
/** 设置默认字体 **/
body,button, input, select, textarea { font: 12px/1.5 Arial, Helvetica, sans-serif;}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#333; outline: none;}
a:link{color:#666666;}
a:visited{color:#666666;}
a:hover { color:#a63d32; }
/** 重置表格元素 **/
table { border-collapse:collapse; border-spacing:0; }
/**禁止拉动**/
textarea{resize:none;}
/*重置表单元素*/
input,button,select,textarea{outline:none;}
/*选中文字背景色*/
::-moz-selection{background: #a63d32; color:#ffffff; text-shadow: none;} 
::selection {background: #a63d32; color:#ffffff; text-shadow: none;}
/*常用样式*/
.clears{zoom:1;}
.clears:after{clear:both; content:"."; display:block; margin:0; padding:0; font-size:0; height:0; line-height:0; overflow:hidden;} 
.fl {float: left;}

/*body*/
body{-webkit-text-size-adjust:none;/*chrome 字体中文版限制问题*/}
	.body-bg-01{ background:url(../images/body-bg-01.jpg) #d0c6b6;}

#wrap{ position:relative;}

/*head*/
#wp-header{ background:url(../images/head-bg.png) repeat-x; height:100px; position:relative; z-index:999;}

#header{ width:843px; height:95px; margin:0 auto; padding-left:117px; position:relative; z-index:9;}
#logo{ position:absolute; left:0; top:0;}



/*-- MODIFIED FROM ORIGINAL --*/

	#nav { float: left; margin: 59px 0 0 36px; }
		#nav ul li a{display:block;}
		#nav>ul>li{ float:left; font-family: 'TradeGothicLTStdCnBold'; font-size:18px; color:#252723; position:relative;}
		#nav>ul>li>a{ padding:10px 15px; line-height:18px; text-transform:uppercase; text-align:center; color:#000000;}
		#nav>ul>li>a:hover{ background-color:#a63d32; color:#eae6dc;}
		.aa1{background-color:#a63d32 !important; color:#eae6dc !important;}
		.aa1 .chinese{ display:block;}
		.aa1 .english{ display:none;}
		.chinese{font-family:"Microsoft YaHei","LiHei Pro Medium"; font-size:15px; display:none;}
		#nav>ul>li>a:hover .english{ display:none;}
		#nav>ul>li>a:hover .chinese{ display:block;}
	#nav-ad { width: 35px;}
	#nav-reservation { width: 102px;}
	#nav-card-reader { width: 102px; }
	#nav-user { width: 50px; }
	#nav-logout { width: 50px; }
		#nav-food { width:35px;}
		#nav-store{ width:116px;}
		#nav .menu-body{ position:absolute; background-color:#a63d32; white-space:nowrap; padding:15px 0; border-bottom-right-radius:5px; border-bottom-left-radius:5px; z-index:99;}
			.menu-body dl{ padding:0 20px;}
			.menu-body dl#dm_2{ border-left: none; padding-top:36px;}
			.menu-body dd{ line-height:20px; color:#ffffff; font-family:Arial; font-size:12px;}
			.menu-body dd#l_canada{ margin-top:30px;}
			.menu-body dd a{ color:#ffffff; font-family:Arial; font-size:12px;}
			.menu-body dd a:hover{ color:#fff; text-decoration:underline;}

	/*content*/
	#wp-content{ position:relative; z-index:9;}
	.main{ width:960px; margin:0 auto; }

	/* Breadcrumbs */
	.b-menu{ padding-top:5px; padding-left:134px;}
		.b-menu ul li{ float:left; font-size:11px; font-family:Arial; color:#666666; padding-right:3px; text-transform:capitalize;}
		.b-menu ul li a{ color:#a63d32; text-decoration: none;}
		.b-menu ul li span{font-family:SimHei; }

	#content-header{ width:960px; margin:0 auto;}
		.content-title{ padding-top:20px;}
		.content-title h1{font-family: 'SansCulottesRegular'; font-size:30px; color:#34322e; border-bottom:1px dashed #908d8a; text-transform:uppercase; font-weight:normal;}

	/*foot*/
	#wp-footer{}
		#footer{ width:960px; margin:0 auto; padding:55px 0; }
		.foot-main{border-top:6px solid #91897c; padding:19px 0;}
		.foot-logo{ padding:0 18px; border-right:1px dashed #908d8a;}
	.site-map { font-size:13px;}
		.site-map ul{ float:left; padding:0 24px;}

	/*jqgrid*/
	.ui-jqgrid { margin-top: 20px; }


	/*------------------------------------*\
	   ADMIN FORM
	\*------------------------------------*/

		.admin-form { }
		.admin-form textarea,
		.admin-form input[type="text"],
		.admin-form input[type="password"] { border:1px solid #bfbfbf; border-radius:5px; box-shadow:2px 3px 5px #dfdfdf inset; padding:0 10px; margin-right:15px; height:37px; line-height:37px; width:285px; }
		.admin-form h5{ font-size:13px; line-height:13px; padding-bottom:5px; padding-top:20px;}
		
		.admin-form__submit { margin-top: 20px; }
			.submit-btn{ font-family: 'TradeGothicLTStdCnBold'; font-size:18px; text-transform:uppercase; color:#ffffff; background-color:#a63d32; height:37px; line-height:37px; padding:0 10px;}
				.admin-form .submit-btn { margin-right: 10px; }


